.title {
  color: #555;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 30px;
}
@media screen and (max-width: 709px) {
  .title {
    color: #555;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
  }
}

.subtitle {
  color: #555;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

.text-area {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
  border: none;
  height: 50px;
  width: 200px;
  cursor: pointer;
}

.button-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  width: 100%;
}

@media screen and (max-width: 709px) {
  .flex {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
}

.nutrition-container {
  height: auto;
  width: auto;
  padding: 20px;
  border: 1px solid black;
  margin-left: 30px;
  width: 40%;
}

.first-section {
  width: 50%;
}
@media screen and (max-width: 709px) {
  .first-section {
    width: 100%;
  }
}

@media screen and (max-width: 709px) {
  .nutrition-container {
    height: auto;
    width: auto;
    padding: 20px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 0px;
  }
}

.nutrition-title {
  color: black;
  font-size: 40px;
  font-weight: 700;
}
@media screen and (max-width: 709px) {
  .nutrition-title {
    color: black;
    font-size: 16px;
    font-weight: 700;
  }
}
.nutrition-sub-text {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.nutrition-flex {
  display: flex;
  flex-direction: row;
}
.underline {
  text-decoration: underline;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.pin-flex {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 709px) {
  .pin-flex {
    display: flex;
    flex-direction: row;
  }
}
.local-container {
  height: auto;
  width: 100%;
  padding: 20px;
  border: 1px solid black;
}

.loading {
  font-size: 30px;
  color: #398439;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
